<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>dianDian方便</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../static/weui.min.css" rel="stylesheet">
</head>
<body ontouchstart>
  <script type="text/javascript" src="../static/weui.min.js"></script>
  <script type="text/javascript">
    weui.alert('alert');
  </script>
  <div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__links">
        <a href="#" class="weui-footer__link">点点方便</a>
        <a href="#" class="weui-footer__link">那年</a>
    </p>
    <p class="weui-footer__text">Copyright © 2018</p>
  </div>
</body>
</html>
